header {
    padding: .5%;
    font-size: 1.2rem;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-links-container {
    width: 25%;
    position: relative;
    left: 85%;
}

.nav-link {
}